*{
    font-size: 16px;
}
:root{
    --robotoregular: "Roboto", sans-serif;
    --robotomedium : "Roboto", sans-serif;
    --darkblue : #262A4E;
    --lightblue: #2370C8;
}
/*====Top Box===*/
.top-box{
    background-image: url(../images/backtop.png);
}
.container{
    width: 80%;
    margin: 0 auto;
}
.logo h2{
    font-size: 2em;
    font-family: var(--robotomedium);
    font-weight: 500;
    color: white;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
/*===NAVIGATION==*/

.top-nav ul{
    display: flex;
    flex-wrap: wrap;
}
.top-nav ul li{
    margin-left: 2rem;
    display: none;
}
.top-nav ul li a{
    font-family: var(--robotomedium);
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.1s;
}
.top-nav ul li a:hover{
    color: var(--darkblue);
}
.icon{
    position: absolute;
    color: white;
    top: 1rem;
    left: 4.8rem;
}

/*===Search==*/
.search{
    position: relative;
}
.search-bar{
    width: 10rem;
    border: none;
    border-radius: 2rem;
    padding: 0.7rem 1.5rem;
    outline: none;
    border: 2px solid var(--lightblue);
    display: block;
}
.search-bar:focus{
    border: 2px solid var(--darkblue);
}
.search-button{
    position: absolute;
    right: 0.5rem;
    top: 0.7rem;
    background:none;
    border: none;
    cursor: pointer;
}

/*===HEADER INFO==*/
.header-info{
    text-align: left;
    padding: 10rem 0;
}
.text{
    width: 20rem;
}
.header-info h1{
    font-size: 3em;
    font-family: var(--robotomedium);
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    padding-bottom: 2rem;
}
.header-info p{
    font-family: var(--robotoregular);
    color: white;
    padding-bottom: 2rem;
    line-height: 1.4;
}
.header-info-link a{
    background-color: var(--lightblue);
    color: white;
    font-family: var(--robotomedium);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.1s;
}
.header-info-link a:hover{
    background-color: var(--darkblue);
}
/*=== SERVICE SECTION */
.section-title{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-title h3{
    font-size: 0.8em;
    text-align: center;
    font-family: var(--robotomedium);
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--lightblue);
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.section-title h2{
    text-align: center;
    color: var(--darkblue);
    font-size: 2em;
    font-family: var(--robotomedium);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
/*=== Services-grid */
.services{
    display: grid;
    grid-column: 1fr;
    grid-gap: 20px;
}
.service-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5F3FE;
    border: 1px solid #CFEAFF;
}
.service-box img{
    padding: 1.5rem 0;
}
.service-box h3{
    font-family: var(--robotomedium);
    font-weight: 500;
    color: var(--darkblue);
    text-transform: capitalize;
    text-align: center;
}

.service-box p{
    font-family: var(--robotoregular);
    color: #646464;
    font-size: 0.8em;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align:center;
    width: 15rem;
    line-height: 20px;
}

.active{
    border:2px solid var(--lightblue);
    background-color: white;
}